@import "./reset.css";
@import "./fonts.css";

.header {
  background: #1a1a1a;
  height: 48px;
  width: 100%;
}

.header-container {
  justify-content: flex-start;
  align-items: center;
  max-width: 1182px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  height: 100%;
}

.logo-name {
  color: #f6bd41;
  font-weight: 700;
  margin-left: 8px;
  font-size: 18px;
}

.main {
  padding: 0 15px 25px;
  margin: 24px auto 0;
  max-width: 1182px;
  min-height: 100%;
}

.add-playlist-panel {
  justify-content: space-between;
  margin-bottom: 30px;
  display: flex;
}

.button {
  transition: background, color 0.3s ease 0s;
  background: #f6bd41;
  border-radius: 4px;
  text-align: center;
  padding: 7px 36px;
  line-height: 22px;
  font-weight: 600;
  color: #121212;
  font-size: 16px;
}

.button:hover {
  background: #face7c;
}

.playlists {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  gap: 12px;
}

.playlist {
  background: #1c1c1c;
  border-radius: 4px;
  padding: 24px 36px;
  flex: 0 1 570px;
}

.playlist-info {
  justify-content: space-between;
  margin-bottom: 24px;
  column-gap: 24px;
  display: flex;
}

.playlist-cover-image {
  border-radius: 4px;
  object-fit: cover;
  max-height: 168px;
  max-width: 170px;
}

.title {
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
}

.tracks-count {
  line-height: 24px;
  font-weight: 400;
  color: #8a8a8a;
  font-size: 14px;
}

.buttons-container {
  display: inline-flex;
  column-gap: 12px;
  height: 16px;
}

.button-icon {
  height: 16px;
  width: 16px;
}

.add-track-panel {
  justify-content: space-between;
  margin-bottom: 12px;
  display: flex;
}

.tracklist-title {
  line-height: 24px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.button-add-track {
  align-items: center;
  line-height: 24px;
  column-gap: 10px;
  color: #f6bd41;
  font-weight: 500;
  font-size: 14px;
  display: flex;
}

.list {
  flex-direction: column;
  display: flex;
  row-gap: 24px;
}

.track-element {
  column-gap: 12px;
  display: flex;
}

.track-details {
  flex-direction: column;
  flex: 1 1 auto;
  display: flex;
  row-gap: 8px;
}

.track-top-line {
  display: flex;
}

.track-cover-image {
  border-radius: 4px;
  object-fit: cover;
  height: 48px;
  width: 48px;
}

.track-status {
  margin-right: 6px;
  object-fit: cover;
  height: 12px;
  width: 12px;
}

.track-info {
  justify-content: space-between;
  column-gap: 15px;
  flex: 1 1 auto;
  display: flex;
}

.track-name {
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
}

audio {
  outline: none;
  height: 24px;
  border: none;
  width: 100%;
}

audio::-webkit-media-controls-time-remaining-display {
  color: #ffffff;
}

audio::-webkit-media-controls-panel {
  background-color: #121212;
}

audio::-webkit-media-controls-mute-button {
  background-color: #ffffff;
  border-radius: 30px;
  color: #ffffff;
}

audio::-webkit-media-controls-play-button {
  background-color: #ffffff;
  border-radius: 50px;
  color: #ffffff;
  height: 20px;
  width: 20px;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-timeline {
  color: #ffffff;
  outline: none;
  border: none;
}

audio::-webkit-media-controls-panel {
  outline: 1px solid #121212;
  background-color: #121212;
  color: white;
  border: none;
}

audio::-webkit-media-controls-timeline-container {
  background-color: #ffffff;
  color: #ffffff;
}

@media (max-width: 550px) {
  .add-playlist-panel {
    flex-direction: column;
    row-gap: 30px;
  }

  .playlist {
    padding: 20px 24px;
  }

  .playlist-cover-image {
    align-self: center;
  }

  .track-element {
    flex-direction: column;
    row-gap: 12px;
  }
}
